.login{
    height:400px;
    width: 600px;
    background-color: rgba(135, 206, 250, 0.308);
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
    padding: 80px;
    
}
body{
    background-color:royalblue;
    /*opacity: 0.5;*/
}

.menulateral{
    height: 640px;
    width: 230px;
    background:#17202a;
    position: absolute;
    
}
.crud{
    height: 400px;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 250px;
    margin-top: 70px;
}
.modificar{
    height: 400px;
    width: 450px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 880px;
    margin-top: 70px;
    padding: 12px;
}
.md{
    height: 470px;
    width: 400px;
    background:#ffffff;
    position: absolute;
    margin-left: 890px;
    margin-top: 70px;
    padding: 20px;
}
.nomuser{
    height: 40px;
    width: 250px;
    background-color:lightsteelblue;
    margin-left: 1100px;
    margin-top: 10px;
}
