/*paleta de colores*/
:root{
    --fondo: #ffffff ;
    --primario:  #bfc9ca ;
    --secundario :  #34495e  ;
}
body{
    background-color: var(--fondo);
}
form{
    background-color: var(--secundario);
    text-align: center;
    margin: 9rem 30rem 9rem 30rem;
    height: 20rem;
    width: 20rem;
    color: var(--primario);
}
form legend {
    background-color: var(--primario);
    color: var(--fondo);
}